*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example
!.env.docker.example

/vendor
/node_modules

public/storage
/public/build
/public/hot

.phpunit.result.cache
/.phpunit.cache
.phpactor.json
/auth.json
coverage.xml

/.fleet
/.idea
/.nova
/.vscode
/.zed

Homestead.json
Homestead.yaml